*{
	margin: 0px;
	padding: 0px;
}

.uno{
	background-color: #FFFF00;
	width: 16%;
	height: 100px;
	margin: 15px;
	padding: 20px;
	display: inline-block;
}
.dos{
	background-color: #FF0000;
	width: 16%;
	height: 100px;
	margin: 15px;
	padding: 20px;
	display: inline-block;
}
.tres{
	background-color: #FFFF00;
	width: 16%;
	height: 100px;
	margin: 15px;
	padding: 20px;
	display: inline-block;
}


















