*{
	margin: 0px;
	padding: 0px;
}

.uno{
	background-color: #FFFF00;
	width: 16%;
	height: 100px;
	margin: 15px;
	padding: 20px;
}
.dos{
	background-color: #FF0000;
	width: 16%;
	height: 100px;
	margin: 15px;
	padding: 20px;
}
.tres{
	background-color: #FFFF00;
	width: 16%;
	height: 100px;
	margin: 15px;
	padding: 20px;
}

























/*.uno{
	width: 22%;
	margin:10px;
	border: 16px solid #FDF732;
	padding: 30px;
	text-align: center;
}
.dos{
	width: 22%;
	margin:10px;
	border: 16px solid #FDF732;
	padding: 30px;
	text-align: left;
	margin-left: 500px;
*|



/* Escribe aqui tu CSS *//* Escribe tu css aqui */